* {
  margin: 0px;
}
.app {
  display: grid;
  grid-gap: 1rem;
}
.mainContainer {
  display: grid;
  grid-template-columns: 2.5fr 5fr 3fr;
  grid-gap: 1rem;
  /*grid-template-rows: 1fr 1fr 1fr 4fr 4fr 4fr;*/
  max-height: 100vh;
}
.mainContainer__left {
  display: grid;
}
.dropDownContainer {
  margin-bottom: 1rem;
  height: 50px;
}
.mainContainer__middle {
  display: grid;
  border: 1px solid #f00;
  margin-bottom: 1rem;
  border-radius: 5px;
  color: #fff;
}
.mainContainer__right {
  border: 1px solid #fff;
  margin-bottom: 1rem;
  border-radius: 5px;
  color: #fff;
  overflow-y: scroll;
  max-height: 100vh;
}
.mainContainer__right::-webkit-scrollbar {
  display: none;
}
