* {
  margin: 0px;
}
.app {
  display: grid;
  /* border: 3px solid rgb(75, 214, 11);*/
  height: 95vh;
}
.mainContainer {
  display: grid;
  grid-template-columns: 2.5fr 5fr 3fr;
  grid-gap: 1rem;
  /* border: 2px solid red;*/
  height: 85vh;
  margin-top: 0px;
}
.mainContainer__left {
  display: grid;
  grid-template-rows: 1fr 5fr 5fr 5fr;
  /* border: 3px solid #fff;*/
  height: 85vh;
}
.dropDownContainer {
  height: 50px;
  margin-bottom: 0.5rem;
}
.mainContainer__middle {
  display: grid;
  /* border: 3px solid #f00;*/
  margin-bottom: 1rem;
  border-radius: 5px;
  color: #fff;
  height: 85vh;
  grid-template-rows: 5fr 1fr;
}
.mainContainer__right {
  /* border: 3px solid #fff;*/
  margin-bottom: 1rem;
  border-radius: 5px;
  color: #fff;
  overflow-y: scroll;
  height: 85vh;
}
.mainContainer__right::-webkit-scrollbar {
  display: none;
}

@media only screen and (max-width: 360px) {
  .mainContainer {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "main-left"
      "main-middle"
      "main-right";
  }
  .mainContainer__left {
    display: grid;
    grid-gap: 5px;
    grid-area: main-left;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 18fr;
    height: 26vh;
    grid-template-areas:
      "dropdown dropdown dropdown"
      "cases deaths recovered";
  }
  .dropDownContainer {
    grid-area: dropdown;
    margin-bottom: 0px;
  }
  .mainContainer__middle {
    grid-area: main-middle;
    height: 40vh;
    margin-bottom: 0px;
  }
  .mainContainer__right {
    grid-area: main-right;
    height: 23vh;
    margin-top: 0px;
  }
  .app {
    height: 100vh;
  }
}
