.select {
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
  width: 100%;
  transition: all 600ms ease-in;
}
.select select {
  font-size: 30px;
  font-family: "Arial";
  display: inline-block;
  width: 100%;
  cursor: pointer;
  padding: 10px 15px;
  outline: 0;
  border: 1px solid #fff;
  border-radius: 4px;
  background-color: transparent;
  color: #fff;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.select select::-ms-expand {
  display: none;
}
.select select:hover,
.select select:focus {
  color: #000000;
  background: #fff;
}
.select select:disabled {
  opacity: 0.5;
  pointer-events: none;
}
.select_arrow {
  position: absolute;
  top: 19px;
  right: 16px;
  width: 0px;
  height: 0px;
  border: solid #7b7b7b;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.select select:hover ~ .select_arrow,
.select select:focus ~ .select_arrow {
  border-color: #000000;
}
.select select:disabled ~ .select_arrow {
  border-top-color: #cccccc;
}
select:nth-child(even) {
  background: #000;
  color: #fff;
}

@media only screen and (max-width: 600px) {
  .select select {
    font-size: 15px;
    padding: 5px 5px;
  }
  .select_arrow {
    position: absolute;
    top: 10px;
    right: 16px;
  }

  .select {
    margin-bottom: 0px;
  }
}
