.stat {
  display: grid;
  /*grid-template-columns: 1fr 4fr;*/
  border-radius: 6px;
  box-shadow: 1px 1px 4px rgba(240, 237, 237, 0.6);
  color: #fff;
  padding: 0.5rem;
  justify-content: center;
  margin-bottom: 0.5rem;
  place-items: center;
}
.stat__data {
  text-align: center;
}
.selected {
  border-left-width: 6px !important;
}
.stat__icon {
  display: grid;
  place-items: center;
}
.stat__data {
  place-items: center;
}
.stat__number {
  font-size: 2rem;
  margin-bottom: 0px;
}
.stat__info {
  font-size: 1.5rem;
  font-weight: 100;
}
.stat__delta {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
.stat__lastUpdate {
  color: #ffffff;
}

@media only screen and (max-width: 600px) {
  .stat {
    height: 95px;
  }
  .selected {
    border-left-width: 3px !important;
  }

  .stat__number {
    font-size: 0.5rem;
    margin-bottom: 0px;
  }
  .stat__info {
    font-size: 0.5rem;
    font-weight: 100;
  }
  .stat__delta {
    font-size: 0.3rem;
    font-weight: lighter;
    margin-bottom: 0.5rem;
  }

  .stat__lastUpdate {
    font-size: 7px;
  }
}
